<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HayaiLedger · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="container">
        <ul class="nav justify-content-end">
          <%= if signed_in?(@conn) do %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
              <div class="dropdown-menu">
                <%= link "Dashboard", to: Routes.dashboard_path(@conn, :index), class: "nav-link" %>
                <%= link "Organizations", to: Routes.organization_path(@conn, :index), class: "nav-link" %>
                <div class="dropdown-divider"></div>
                <%= link "Sign out", to: Routes.session_path(@conn, :delete), method: :delete, class: "nav-link" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link "Sign In", to: Routes.session_path(@conn, :new), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Sign up", to: Routes.user_path(@conn, :new), class: "nav-link" %></li>
          <% end %>
        </ul>
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
      </div>
    </header>
    <main role="main" class="container">
      <%= if @conn.assigns[:current_organization] do %>
        <div class="row">
          <div class="col-4">
            <%= render HayaiLedgerWeb.SharedView, "nav.html", assigns %>
          </div>
          <div class="col-8">
            <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
            <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      <% else %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
        <%= render @view_module, @view_template, assigns %>
      <% end %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
